<%- include('../partials/head.ejs'); %> <%- include('../partials/navbar.ejs'); %>

<div class="hero-slant overlay" data-stellar-background-ratio="0.5" style="background-image: url('/images/Sanitary.jpg')">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg">
        <div class="row">
          <div class="col-lg intro">
            <h1 class="text-white font-weight-bold mb-4" data-aos="fade-up" data-aos-delay="0">Categories</h1>
          </div>
        </div>

        <div class="row justify-content-center" data-aos="fade-up">
          <div class="col-5 col-md-4 col-lg-3">
            <div class="category mb-2 text-center text-white">
              <a href="/wash-basin/designer/1100">
                <h3>1100</h3>
              </a>
            </div>
          </div>

          <div class="col-5 col-md-4 col-lg-3">
            <div class="category mb-2 text-center text-white">
              <a href="/wash-basin/designer/1200">
                <h3>1200</h3>
              </a>
            </div>
          </div>

          <div class="category-wrapper col-5 col-md-4 col-lg-3">
            <div class="category mb-2 text-center text-white">
              <a href="/wash-basin/designer/1300">
                <h3>1300</h3>
              </a>
            </div>
          </div>

          <div class="col-5 col-md-4 col-lg-3">
            <div class="category mb-2 text-center text-white">
              <a href="/wash-basin/designer/1400">
                <h3>1400</h3>
              </a>
            </div>
          </div>

          <div class="col-5 col-md-4 col-lg-3">
            <div class="category mb-2 text-center text-white">
              <a href="/wash-basin/designer/1500">
                <h3>1500</h3>
              </a>
            </div>
          </div>

          <div class="col-5 col-md-4 col-lg-3">
            <div class="category mb-2 text-center text-white">
              <a href="/wash-basin/designer/1600">
                <h3>1600</h3>
              </a>
            </div>
          </div>

          <div class="col-5 col-md-4 col-lg-3">
            <div class="category mb-2 text-center text-white">
              <a href="/wash-basin/designer/1700">
                <h3>1700</h3>
              </a>
            </div>
          </div>

          <div class="col-5 col-md-4 col-lg-3">
            <div class="category mb-2 text-center text-white">
              <a href="/wash-basin/designer/1800">
                <h3>1800</h3>
              </a>
            </div>
          </div>

          <div class="col-5 col-md-4 col-lg-3">
            <div class="category mb-2 text-center text-white">
              <a href="/wash-basin/designer/1900">
                <h3>1900</h3>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="slant" style="background-image: url('/images/slant.svg')"></div>
</div>

<%- include('../partials/footer.ejs'); %>
