    <!-- Navbar Start -->
    <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
          <div class="site-mobile-menu-close">
            <span class="icofont-close js-menu-toggle"></span>
          </div>
        </div>
        <div class="site-mobile-menu-body"></div>
      </div>
    
      <div class="container">
        <nav class="site-nav">
          <div class="logo">
            <a href="/" class="text-primary">Shaily<span class="text-white">Overseas</span></a>
          </div>
          <div class="row align-items-center">
            
            
            <div class="col-12 col-sm-12 col-lg-12 site-navigation text-center">
              <ul class="js-clone-nav d-none d-lg-inline-block text-left site-menu">
                <li class="active"><a href="/">Home</a></li>
                <li class="has-children">
                  <!-- products -->
                  <a href="#">Products</a>
                  <ul class="dropdown">
                    <li><a href="/sanitary-ware">Sanitary Ware</a></li>
                    <li><a href="single.html">Ceramic Tiles</a></li>
                    <li><a href="portfolio.html">Kitchen Sink</a></li>
                    <li class="has-children">
                      <a href="#">Wash Basin</a>
                      <ul class="dropdown">
                        <li><a href="#">Wash Basin</a></li>
                        <li><a href="#">Table Top Basin</a></li>
                        <li><a href="#">Wash Basin With Pedestals</a></li>
                        <li><a href="#">Designer Series</a></li>
                        <li><a href="#">Wooden Series</a></li>
                        <li><a href="#">Rustic Series</a></li>
                      </ul>
                    </li>
                    <li><a href="contact.html">Plastic Accessories</a></li>
                    <li><a href="contact.html">Bathroom Accessories</a></li>
                  </ul>
                </li>
                <!-- pages -->
                <li><a href="portfolio.html">Portfolio</a></li>
                <li><a href="single.html">Single</a></li>
                <li><a href="/about-us">About Us</a></li>
                <li><a href="/contact-us">Contact Us</a></li>
                <li><a href="elements.html">Elements</a></li>
              </ul>
  
              <ul class="js-clone-nav d-none d-lg-inline-block text-left site-menu float-right menu-absolute">
                <li class="cta-button"><a href="#" target="_blank">Brochure</a></li>
              </ul>
  
              <a href="#" class="burger light ml-auto site-menu-toggle js-menu-toggle d-block d-lg-none" data-toggle="collapse" data-target="#main-navbar">
                <span></span>
              </a>
  
            </div>
  
          </div>  
        </nav>
      </div>
      <!-- Navbar End -->