    <!-- Navbar Start -->
    <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
          <div class="site-mobile-menu-close">
            <span class="icofont-close js-menu-toggle"></span>
          </div>
        </div>
        <div class="site-mobile-menu-body"></div>
      </div>
    
      <div class="container">
        <nav class="site-nav">
          <!-- TODO: change logo and size -->
          <div class="logo h3">
            <a href="/" class="text-primary">Shaily<span class="text-white">International</span></a>
          </div>
          <div class="row align-items-center">
            
            
            <div class="col-12 col-sm-12 col-lg-12 site-navigation text-center">
              <ul class="js-clone-nav d-none d-lg-inline-block text-left site-menu">
                <li class="active"><a href="/">Home</a></li>
                <li class="active has-children">
                  <!-- products -->
                  <a href="#">Products</a>
                  <ul class="dropdown">
                    <li><a href="/sanitary-ware">Sanitary Ware</a></li>
                    <li><a href="#">Ceramic Tiles</a></li>
                    <li><a href="#">Kitchen Sink</a></li>              
                    <li><a href="/bathroom-accessories">Bathroom Accessories</a></li>
                    <li><a href="#">Plastic Accessories</a></li>
                  </ul>
                </li>
                <!-- pages -->
                <li class="active"><a href="/about-us">About Us</a></li>
                <li class="active"><a href="/contact-us">Contact Us</a></li>
              </ul>
  
              <ul class="js-clone-nav d-none d-lg-inline-block text-left site-menu float-right menu-absolute">
                <li class="btn btn-primary">Brochure</li>
              </ul>
              <!-- <ul class="js-clone-nav d-none d-lg-inline-block text-left site-menu float-right menu-absolute">
                <li class="cta-button"><a href="#" target="_blank">Brochure</a></li>
              </ul> -->
  
              <a href="#" class="burger light ml-auto site-menu-toggle js-menu-toggle d-block d-lg-none" data-toggle="collapse" data-target="#main-navbar">
                <span></span>
              </a>
  
            </div>
  
          </div>  
        </nav>
      </div>
      <!-- Navbar End -->